body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
h1,h2,h3,h4{
  text-align: center;
}
/* //Top section */
/* Navbar section */
.header {
  padding: 0;
  margin: 0;
}
.nav_hov {
  padding: 0 18px;
  background-color: transparent;
  border-radius: 10%;
  transition-property: background-color;
  transition-duration: 1s;
}
.navbar {
  padding: 0px;
  background-color: rgba(248, 249, 250, 0.3);
  color:white;
  font-family: Roboto,sans-serif;
}
.nav_hov:hover {
  background-color: #00B4D8;
}
.logo img {
  float: left;
  width: 60px;
  height: auto;
}

/* main display */
.wdn-blue {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/pipes.jpg);
  height: 600px;
  background-size: 100% 100%;
  background-position: center center;
  animation: shrink infinite 5s alternate;
  position: relative;
  color: #ffffff;
  opacity: 0.95;
}
.wdn-blue:hover {
    opacity:0.9;
}
/* headings */
.heading h1 {
  font-weight: 700;
   font-size:5rem;
   text-shadow: #000000 4px 4px;
}
.heading h1:hover {
  text-shadow: #000000 6px 6px;
}
.heading {
  width: 100%;
  position: relative;
  animation-name: moving_head;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
}
.description h3{
  font-weight: 700;
    color: whitesmoke;
    font-size: 35px;
    animation-name: moving_txt;
    animation-duration: 3s;
}
.description h4{
  font-weight: 500;
    color: whitesmoke;
    padding: 10px;
    font-size: 20px;
    animation-name: moving_txt;
    animation-duration: 4s;
}

/* //Explore button */
.ex_button{
   position:absolute;
   top:400px;
   left:50%;
   transform: translate(-50%, -50%);
   margin: 5px;
   border: 1px solid white;
   border-radius: 10px;
   padding: 10px 30px;
   font-size:larger;
   visibility: visible;
   animation-name: button_visible ;
   animation-duration: 5s;
}
.ex_button a{
  color: white;
   text-decoration: none;
}
.ex_button a:hover{
  color:black;
}
.ex_button:hover{
    background-color: white;
}
/* //gallery containers */
.application_options {
  padding: 4rem;
  text-align: center;
  height: 45rem;
}

.cards_together {
  padding: 3rem 0.5rem;
}

.cards {
  font-size: 1rem;
  height: 25rem;
  width: 21rem;
  border-radius: 5px padding: 4rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 15px -4px rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
  background-color: #91eae4;
  background: linear-gradient(to left, #90E0EF, #00B4D8);
  margin: 1rem;
  color: #ffffff;
}

.card_header {
  width: 100%;
  height: 4rem;
  background-color: #CAF0F8;
  color: #00B4D8;
  text-align: justify;
  padding: 0.5rem;
}

.card_1 {
  float: left;
}

.card_2 {
  float: left;
}

.card_3 {
  float: left;
}

.card_1:hover, .card_2:hover, .card_3:hover {
  box-shadow: 2px 2px 50px -4px rgba(0, 0, 0, 0.6);
}

img {
  width: 100%;
  height: 10rem;
  padding: 1rem 0.5rem;
}

.buy-button {
  cursor: pointer;
  position: absolute;
  width: 250px;
  height: 180px;
  background: #CAF0F8;
  border-radius: 15%;
  right: -14%;
  bottom: -27%;
  transition: all 0.4s ease-in-out;
}

/* // BUTTON */
.btn a{
  text-shadow: 0 0 0;
  text-emphasis: bold;
  color:#00B4D8;
  position: absolute;
  left: 8%;
  top: 10%;
  font-size: 1.2rem;
  transition: all 0.4s ease-in-out;
  padding-top:5px;
}

.buy-button:hover {
  width: 100%;
  right: 0%;
  border-radius: 0%;
}

/* footer items */
.footer-basic {
  margin-top: 10px;
  float: left;
  padding: 12px;
  background-color: #00B4D8;
  color: #ffffff;
  display: inline;
  width: 100%;
}

.footer-basic ul {
  padding: 0;
  text-align: center;
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 0;
}

/* animations */
@keyframes moving_head {
  0% {
    top: 0px;
  }

  100% {
    top: 180px;
  }
}

@keyframes moving_txt {
  0%,65% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

@keyframes shrink {
  0% {
    background-size: 120% 120%;
  }

  100% {
    background-size: 100% 100%;
  }
}

@keyframes button_visible{
  0%,80%{visibility: hidden;}
 100%{visibility: visible; transition: 0.6s ease-in-out;}
}
@media only screen and (max-width: 650px) {
  .heading {
    -webkit-animation-name: none !important;
     font-size: 3rem;
  }

  .application_options {
    padding: 4rem 0.75rem;
  }

  .cards_together {
    padding: 3rem 0.25rem;
  }

  .wdn-blue {
    height: 700px;
  }
  /* .ex_button{
    top:500px;
  } */
}

@media only screen and (max-width: 1000px) {
  @keyframes moving_head {
    0% {
      top: 0px;
    }

    100% {
      top: 200px;
    }
  }
  .wdn-blue {
    height: 650px;
  }
  /* .ex_button{
    top:550px;
  } */
}
